<ion-modal-view ng-controller="AddCompanyCtrl as addCompany">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="addCompany.hideAddCompanyModal()">Cancel</button>
    </div>
    <h1 class="title">Select Company</h1>
    <div class="buttons">
      <button class="button button-positive" ng-disabled="!addCompany.choice" ng-click="addCompany.selectAddCompanyModal()">Add</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <label class="item item-input">
      <input type="text" placeholder="Search..." ng-model="addCompany.searchText">
      <a ng-if="addCompany.searchText != ''" on-touch="addCompany.searchText=''">
         <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>

    <ion-list>
      <ion-radio  ng-repeat="company in addCompany.companies | filter:addCompany.filterCompanies(addCompany.searchText, addCompany.userCompanies)" ng-model="addCompany.choice" ng-value="company._id">
        {{company.name}}
      </ion-radio>
    </ion-list>

  </ion-content>
</ion-modal-view>
