<ion-view view-title="Manage Portfolio">
  <ion-content padding="true" >
    <a class="button button-outline button-block button-positive" ng-click="adminPortfolio.showAddCompanyModal()">
      <i class="icon ion-plus"></i> Add Company
    </a>

    <div class="list">
      <label class="item item-input-inset">
        <input type="text" placeholder="Search..." ng-model="adminPortfolio.searchText">
      </label>
      <div class="item item-divider">
        Active
      </div>
      <a ng-repeat="company in adminPortfolio.companies | filter:adminPortfolio.searchText" class="item" ng-click="adminPortfolio.editCompany(company._id)">
        {{ company.name }}
      </a>
    </div>

  </ion-content>
</ion-view>
