<ion-view>
  <ion-nav-title>{{ product.selectedProduct.name }}</ion-nav-title>
  <ion-content padding="true">
    <span class="item-note">
      <show-product-company ng-if="product.selectedProduct.company" company="{{product.selectedProduct.company}}"></show-product-company>
    </span>
    <h2>{{product.selectedProduct.name}}</h2>
    <p>
      {{product.selectedProduct.description}}
    </p>

    <div class="card">
      <product-reps ng-if="product.selectedProduct" product="product.selectedProduct"></product-reps>
    </div>

    <div ng-if="product.selectedProduct.copayInformation" class="card">
      <div class="item item-text-wrap">
        <h2 class="radiant">Copay Information</h2>
        <p>
          {{ product.selectedProduct.copayInformation }}
        </p>
        <div class="row">
          <div class="col">
            <button class="button button-small button-block">
              Learn More
            </button>
          </div>
          <div class="col">
            <button class="button button-small button-block">
              Send Info
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-modal-view>
