<ion-modal-view ng-controller="ProfileAccountPasswordCtrl as profileAccountPassword">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="profileAccountPassword.hideProfileAccountPasswordModal()">Cancel</button>
    </div>
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-positive" ng-disabled="profileAccountPassword.form.$invalid" ng-click="profileAccountPassword.doneProfileAccountPasswordModal()">Done</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <form name="profileAccountPassword.form" novalidate>

      <div class="card list">

        <div class="item item-input password padding-right">
          <div class="label">
            <span>
              Current Password
            </span>
            <small class="assertive" ng-if="registerForm.password.$error.minlength && !registerForm.password.$pristine">
              Should be at least 6 characters
            </small>
            &nbsp;
          </div>
          <label class="item-input-wrapper">
            <input ng-if="!profileAccountPassword.passwordToggleShow1" type="password" name="currentPassword" placeholder="******" ng-model="profileAccountPassword.currentPassword" ng-minlength="6" required>
            <input ng-if="profileAccountPassword.passwordToggleShow1" type="text" name="currentPassword" placeholder="Password" ng-model="profileAccountPassword.currentPassword" ng-minlength="6" required>
          </label>
          <button ng-click="profileAccountPassword.passwordToggle(1)" class="button button-clear button-positive">
             {{ profileAccountPassword.passwordToggleLabel1 }}
          </button>
        </div>

        <div class="item item-input password padding-right">
          <div class="label">
            <span>
              New Password
            </span>
            <small class="assertive" ng-if="registerForm.password.$error.minlength && !registerForm.password.$pristine">
              Should be at least 6 characters
            </small>
            &nbsp;
          </div>
          <label class="item-input-wrapper">
            <input ng-if="!profileAccountPassword.passwordToggleShow" type="password" name="newPassword" placeholder="******" ng-model="profileAccountPassword.newPassword" ng-minlength="6" required>
            <input ng-if="profileAccountPassword.passwordToggleShow" type="text" name="newPassword" placeholder="Password" ng-model="profileAccountPassword.newPassword" ng-minlength="6" required>
          </label>
          <button ng-click="profileAccountPassword.passwordToggle()" class="button button-clear button-positive">
             {{ profileAccountPassword.passwordToggleLabel }}
          </button>
        </div>

      </div>



    </form>

  </ion-content>
</ion-modal-view>
