<ion-view view-title="Profile">
  <ion-content padding="true" class="has-header">

    <div ng-show="!profile.currentUser || profile.currentUser.anonymous">
      <form name="loginForm" novalidate>
        <div class="card list">
          <div class="item item-divider">
          Log In
          </div>
          <label class="item item-input">
            <input type="email" name="email" type="text" placeholder="Email" ng-model="profile.loginForm.email">
          </label>
          <label class="item item-input">
            <input type="password" name="password" placeholder="Password" ng-model="profile.loginForm.password">
          </label>
          <div>
            <div class="row">

              <div class="col">
                <button class="button button-block button-calm button-outline button-stable" ng-click="profile.forgotPassword()">
                  Forgot Password
                </button>
              </div>

              <div class="col">
                <button ng-disabled="loginForm.email.$invalid || !profile.loginForm.password"  class="item button button-block button-positive" ng-click="profile.login()">
                  Sign In
                </button>
              </div>

            </div>
          </div>
        </div>
      </form>

      <div class="list card">
        <div class="item item-divider">
          Health Care Professionals
        </div>
        <div class="item item-text-wrap">
          Register your account to have access to more features such as saving your favorite contacts, managing requests for services and products, and rating your reps on all of your devices.
          <a class="button button-block button-positive button-outline" href="#/tab/register">
              Register
          </a>
        </div>
      </div>

      <div class="card list">
        <form name="inviteForm" novalidate>
          <div class="item item-divider">
            Medical Sales Representatives
          </div>
          <div class="item item-text-wrap">
            Please enter your email and you will be sent an invitation to join Fluity
          </div>
          <label class="item item-input">
            <input type="email" name="email" placeholder="Enter Email" ng-model="profile.inviteEmail" required>
          </label>
          <div>
            <div class="row">
              <div class="col">
                <button ng-disabled="inviteForm.email.$invalid" class="button button-block button-outline" ng-class="{'button-positive': inviteForm.email.$pristine || !inviteForm.email.$invalid, 'button-assertive': inviteForm.email.$invalid && !inviteForm.email.$pristine}" ng-click="profile.requestInvite()">
                  <span ng-if="inviteForm.email.$invalid && !inviteForm.email.$pristine">
                    Invalid Email
                  </span>
                  <span ng-if="inviteForm.email.$pristine || !inviteForm.email.$invalid">
                    Request Invite
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div ng-hide="!profile.currentUser || profile.currentUser.anonymous">
    	<div class="list">
          <a href="#/tab/account" class="item item-icon-left">
            <i class="icon ion-person"></i>
            Account Settings
            <span class="badge">{{ profile.user.givenName }} {{ profile.user.familyName }}</span>
          </a>
          <a ng-if="profile.user.roleAttribute == 'rep'" href="#/tab/portfolio" class="item item-icon-left">
            <i class="icon ion-filing"></i>
            Portfolio
            <span class="badge">{{ profile.user.products ? profile.user.products.length : 0 }} Products</span>
          </a>
          <a ng-if="profile.user.roleAttribute == 'rep'" href="#/tab/territories" class="item item-icon-left">
            <i class="icon ion-map"></i>
            Territories
            <span class="badge">{{ profile.user.cities ? profile.user.cities.length : 0 }} Cities</span>
          </a>
          <a ng-click="profile.logout()" class="item item-icon-left assertive">
            <i class="icon ion-log-out"></i>
            Log Out
          </a>
        </div>
    </div>

    <!-- To Do - restric Admin area with  profile.currentUser.roleAttribute -->
    <div ng-show="profile.currentUser" ng-if="profile.user.roleAttribute == 'manager'" >
      <div class="list">
          <div class="item item-divider">
            Management Area
          </div>
          <a href="#/tab/admin-portfolio" class="item item-icon-left positive">
            <i class="icon ion-filing"></i>
            Portfolio
            <!-- <span class="badge">{{ profile.user.products ? profile.user.products.length : 0 }} Products</span> -->
          </a>
          <a href="#/tab/admin-territories" class="item item-icon-left positive">
            <i class="icon ion-map"></i>
            Territories
            <!-- <span class="badge">{{ profile.user.cities ? profile.user.cities.length : 0 }} Cities</span> -->
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
