<ion-view view-title="Requests">
  <ion-content padding="true" class="has-header">

    <div class="list">
      <div ng-if="requests.open.length > 0" class="item item-divider">
        Open
      </div>
      <request-item ng-repeat="openRequest in requests.open" request="openRequest"></request-item>

      <div ng-if="requests.accepted.length > 0" class="item item-divider">
        Accepted
      </div>
      <request-item ng-repeat="acceptedRequest in requests.accepted" request="acceptedRequest"></request-item>

      <div ng-if="requests.completed.length > 0" class="item item-divider">
        Completed
      </div>
      <request-item ng-repeat="completedRequest in requests.completed" request="completedRequest"></request-item>

      <div ng-if="requests.cancelled.length > 0" class="item item-divider">
        Cancelled
      </div>
      <request-item ng-repeat="cancelledRequest in requests.cancelled" request="cancelledRequest"></request-item>

    </div>

  </ion-content>
</ion-view>
