<ion-modal-view ng-controller="SearchSelectLocationCtrl as searchSelectLocation">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="searchSelectLocation.hideSearchSelectLocationModal()">Cancel</button>
    </div>
    <h1 class="title">Select Location</h1>
    <div class="buttons">
      <button class="button button-positive" ng-disabled="!searchSelectLocation.choice" ng-click="searchSelectLocation.selectSearchSelectLocationModal()">Select</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <label class="item item-input">
      <input type="text" placeholder="Search..." ng-model="searchSelectLocation.searchText.name">
      <a ng-if="searchSelectLocation.searchText.name != ''" on-touch="searchSelectLocation.searchText.name=''">
         <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>

    <ion-list>
      <ion-radio ng-repeat="place in searchSelectLocation.places | filter:searchSelectLocation.searchText" ng-model="searchSelectLocation.choice" ng-value="place">
        {{place.name}}<span ng-if="place.state" >, <show-state-abbrev state="place.state"></show-state-abbrev></span>
      </ion-radio>
    </ion-list>

  </ion-content>
</ion-modal-view>
