<div>
  <div ng-if="searchProductReps.loading">
    <button class="button button-clear button-light">
      <i class="icon ion-person-stalker"></i> Finding Reps...
    </button>
  </div>

  <div ng-if="!searchProductReps.loading && searchProductReps.result">
    <button class="button button-clear button-positive">
      <i class="icon ion-person"></i> {{searchProductReps.legend}}
    </button>
    <p ng-if="searchProductReps.hospitals">{{searchProductReps.hospitals}}</p>
  </div>

  <div ng-if="!searchProductReps.loading && !searchProductReps.result">
    <button class="button button-clear button-stable">
      <i class="icon ion-person-add"></i> Request Rep
    </button>
  </div>

</div>
