<ion-modal-view ng-controller="SearchSelectLocationCtrl as searchSelectLocation">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="searchSelectLocation.hideSearchSelectLocationModal()">Cancel</button>
    </div>
    <h1 class="title">Select Location</h1>
    <div class="buttons">
      <button class="button button-positive" ng-disabled="!searchSelectLocation.citySelectedId" ng-click="searchSelectLocation.selectSearchSelectLocationModal()">Select</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <label class="item item-input item-select">
      <div class="input-label">
        State
      </div>
      <select ng-model="searchSelectLocation.stateSelectedId">
        <option ng-repeat="state in searchSelectLocation.states" value="{{state._id}}">{{state.name}}</option>
      </select>
    </label>
    <label class="item item-input item-select" ng-if="searchSelectLocation.stateSelectedId">
      <div class="input-label">
        City
      </div>
      <select ng-model="searchSelectLocation.citySelectedId">
        <option value="all">All</option>
        <option ng-repeat="city in searchSelectLocation.cities" value="{{city._id}}">{{city.name}}</option>
      </select>
    </label>

  </ion-content>
</ion-modal-view>
