<div>
  <div ng-if="searchProductReps.loading">
    <button class="button button-clear button-light">
      <i class="icon ion-person-stalker"></i> Finding Reps...
    </button>
  </div>

  <div ng-if="!searchProductReps.loading && searchProductReps.result" class="padding-top">
    <h2>
      <i class="icon ion-person"></i> {{searchProductReps.legend}}
    </h2>

    <p ng-if="searchProductReps.services">
      <span ng-if="searchProductReps.services.s" class="padding-right balanced"><i class="icon ion-stop"></i> Samples </span>
      <span ng-if="searchProductReps.services.m" class="padding-right royal"><i class="icon ion-stop"></i> Inservice Meal </span>
      <span ng-if="searchProductReps.services.i" class="padding-right calm"><i class="icon ion-stop"></i> Stock Inventory </span>
      <span ng-if="searchProductReps.services.c" class="padding-right dark"><i class="icon ion-stop"></i> Case Coverage </span>
      <span ng-if="searchProductReps.product.copayInformation" class="padding-right radiant"><i class="icon ion-stop"></i> Copay Assistance </span>
    </p>
  </div>

  <div ng-if="!searchProductReps.loading && !searchProductReps.result">
    <button class="button button-clear button-stable">
      <i class="icon ion-person-add"></i> Request Rep
    </button>
  </div>

</div>
