<ion-modal-view ng-controller="SearchSelectLocationCtrl as searchSelectLocation">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="searchSelectLocation.hideSearchSelectLocationModal()">Cancel</button>
    </div>
    <h1 class="title">Select Location</h1>
    <div class="buttons">
      <button class="button button-positive" ng-disabled="!searchSelectLocation.choice" ng-click="searchSelectLocation.selectSearchSelectLocationModal()">Select</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <label class="item item-input">
      <input type="text" placeholder="Search..." ng-model="searchSelectLocation.searchText">
      <a ng-if="searchSelectLocation.searchText != ''" on-touch="searchSelectLocation.searchText=''">
         <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>

    <ion-list>
      <ion-radio ng-repeat="city in searchSelectLocation.cities | filter:searchSelectLocation.filterCities(searchSelectLocation.searchText, searchSelectLocation.userCities)" ng-model="searchSelectLocation.choice" ng-value="city">
        {{city.name}}, <show-state-abbrev state="city.state"></show-state-abbrev>
      </ion-radio>
    </ion-list>

  </ion-content>
</ion-modal-view>
