<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Search" icon="ion-search" ui-sref="tab.search()">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contacts" icon="ion-person-stalker" ui-sref="tab.contacts()">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Requests" icon="ion-bookmark" ng-click="tabs.goTo('requests')">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="ion-person" ui-sref="tab.profile()">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
