
<div class="card">
  <div class="item item-divider">
    {{ territoriesState.state.name }}
  </div>
  <div class="item button-bar">
    <a class="button button-outline button-block button-calm" ng-click="territoriesState.showAddCitiesModal()">
      <i class="icon ion-plus"></i> Add Cities
    </a>
    <a class="button button-outline button-block button-assertive" ng-click="territoriesState.removeState()">
      <i class="icon ion-trash-b"></i> Remove State
    </a>
  </div>
  <territories-city ng-repeat="city in territoriesState.cities" city-id="city._id"></territories-city>
</div>
